.login-container {
  height: 100vh;
  display: flex;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(195deg, rgba(66, 66, 74, 0.6), rgba(25, 25, 25, 0.6)),
    url(https://images.unsplash.com/photo-1535905557558-afc4877a26fc?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.login-wrapper {
  position: absolute;
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 2rem;
  background-color: #f2f0f0;
  min-width: 250px;
  max-width: 550px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 0 0 0;
}

.login-title {
  font-size: 2.2rem;
  margin: 0 0 1.5rem;
  text-align: center;
  font-family: 'Varela Round', sans-serif !important;
}

.error-message {
  margin: 0 !important;
  font-size: 0.9rem;
  text-align: left;
  color: red;
  font-weight: 500;
}

.login-alert-message {
  font-weight: 700 !important;
}

.submit-login-btn {
  width: 100%;
  background-color: #092635 !important;
  border-radius: 4rem !important;
}
