.changepassword-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.group-btn {
    width: 100%;
    justify-content: flex-end;
    padding: 8px 0 !important;
}

.alert-message {
    font-weight: 700 !important;
    width: 100%;
}

.required-marked {
    color: red;
}