.delete-content {
  padding: 1rem 1rem 0;
  color: black !important;
}
.alert-message {
  font-weight: 700 !important;
  margin: 1rem;
}
.required-marked {
  color: red;
}
.group-btn {
  width: 100%;
  justify-content: flex-end;
  margin-top: 1rem;
  padding: 8px 0 !important;
}
