@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600;1,800&family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
#root,
h1,
h2,
h3,
h4,
h5,
h6 {
	width: 100%;
	font-family: "Poppins", sans-serif !important;
}

body {
	background-color: #f0f2f5 !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader,
.MuiDataGrid-root .MuiDataGrid-cell {
	outline: none !important;
}

::-ms-reveal {
	display: none;
}
.rmdp-container {
	width: 100%;
}
.rmdp-input {
	width: 100%;
	padding: 19px 10px !important;
}
.rmdp-top-class {
	height: 300px;
}

* {
	font-family: "Poppins", sans-serif !important;
}

.swal2-horizontal-buttons {
	flex-direction: row-reverse;
}

.swal2-custom-title {
	font-weight: 500;
}
